<div class="page-header">
  <%= link_to root_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_company_path(@company), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show company</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @company.name %></dd>

  <dt>Address:</dt>
  <dd><%= @company.address %></dd>

  <dt>Lat:</dt>
  <dd><%= @company.lat %></dd>

  <dt>Lng:</dt>
  <dd><%= @company.lng %></dd>

  <dt>Phone number:</dt>
  <dd><%= @company.phone_number %></dd>

  <dt>Link:</dt>
  <dd><%= @company.link %></dd>

  <dt>Capacity:</dt>
  <dd><%= @company.capacity %></dd>

</dl>
